:root {
  --primary  : #23CB77;
  --secondary: #363a4d;
}

.title {
  color: var(--primary);
}

p {
  color    : var(--secondary);
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  .my-text {
    text-align: center;
  }
}